<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <title>Alert</title>
</head>

<!--
Quelle: https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-alerts.php
-->
<div class="alert-fixed" th:fragment="errorAlert (trBankException)" th:if="${trBankException != null}">
    <div class="alert alert-danger alert-dismissible fade show">
        <div class="fs-4 alert-heading">
            <i class="bi bi-exclamation-octagon-fill m-auto"></i>
            <label th:text="${trBankException.getTitel() != null ? trBankException.getTitel() : 'Oops! Etwas ist schief gelaufen.'}"></label>
        </div>
        <p class="error" th:text="${trBankException.getNachricht()}"></p>
        <div th:if="${trBankException.getVorschlag() != null}">
            <hr>
            <p class="mb-0" th:text="${trBankException.getVorschlag()}"></p>
        </div>
        <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
</div>

<div class="alert-fixed" th:fragment="successAlert (alertSuccessTitle, alertSuccessMessage)"
     th:if="${alertSuccessMessage != null}">
    <div class="alert alert-success alert-dismissible fade show">
        <div class="fs-4 alert-heading">
            <i class="bi bi-check-lg-fill m-auto"></i>
            <label th:text="${alertSuccessTitle != null ? alertSuccessTitle : 'Aktion erfolgreich durchgefühert.'}"></label>
        </div>
        <p class="success" th:text="${alertSuccessMessage}"></p>
        <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
</div>
</html>
