<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
</head>

<!--
Inspired by: https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-alerts.php
-->
<div th:fragment="errorAlert (trException)" class="alert-fixed" th:if="${trException != null}">
    <div class="alert alert-danger alert-dismissible fade show" >
        <div class="fs-4 alert-heading">
            <i class="bi bi-exclamation-octagon-fill m-auto"></i>
            <label th:text="${trException.getTitel() != null ? trException.getTitel() : 'Oops! Etwas ist schief gelaufen.'}"></label>
        </div>
        <p th:text="${trException.getNachricht()}" class="error"></p>
        <div th:if="${trException.getVorschlag() != null}">
            <hr>
            <p class="mb-0" th:text="${trException.getVorschlag()}"></p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
</html>