<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"><title>Konto Details</title></head>

<div th:fragment="kontoDetails (konto)">
    <div class="container py-2">
        <div class="card rounded-borders">
            <div class="card-body text-center">
                <div class="row gx-5 justify-content-center align-items-center">
                    <div class="col-3">
                        <label>Kontonummer</label>
                        <p class="mb-0" th:text="${konto.getID()}"></p>
                    </div>
                    <div class="col-5">
                        <label>IBAN</label>
                        <p class="mb-0" th:text="${konto.getIban()}"></p>
                    </div>
                    <div class="col-4">
                        <label>Kontostand</label>
                        <p class="mb-0" th:text="${#numbers.formatCurrency(konto.getKontostand())}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
