<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"><title>Transaktionen</title></head>
<div th:fragment="transaktionTable (konto, transaktionen)">
    <table class="table table-striped table-hover" th:if="${!transaktionen.isEmpty()}">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Verwendungszweck</th>
            <th scope="col">Quell-IBAN</th>
            <th scope="col">Ziel-IBAN</th>
            <th scope="col">Betrag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaktion : ${transaktionen}">
            <td><label th:text="${#dates.format(transaktion.getDatum(), 'dd.MM.yyyy HH:mm')}"></label></td>
            <td><label th:text="${transaktion.getVerwendungszweck()}"></label></td>
            <td><label
                    th:text="${transaktion.getQuellkonto()}? ${transaktion.getQuellkonto().getIban()} : 'Gelöschtes Konto'"></label>
            </td>
            <td><label
                    th:text="${transaktion.getZielkonto()}? ${transaktion.getZielkonto().getIban()} : 'Gelöschtes Konto'"></label>
            </td>
            <td th:switch="${konto}">
                <label class="text-danger"
                       th:case="${transaktion.getQuellkonto()}" th:text="'-' +${#numbers.formatCurrency(transaktion.getBetrag())}"></label>
                <label class="text-success"
                       th:case="${transaktion.getZielkonto()}" th:text="'+' +${#numbers.formatCurrency(transaktion.getBetrag())}"></label>
                <label th:case="*" th:text="${#numbers.formatCurrency(transaktion.getBetrag())}"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 class="text-danger" th:if="${transaktionen.isEmpty()}">Keine Transaktionen vorhanden.</h3>
</div>

<div th:fragment="transaktionTableMultipleKonten (konten, transaktionen)">
    <table class="table table-striped table-hover" th:if="${!transaktionen.isEmpty()}">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Verwendungszweck</th>
            <th scope="col">Quell-IBAN</th>
            <th scope="col">Ziel-IBAN</th>
            <th scope="col">Betrag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaktion : ${transaktionen}">
            <td><label th:text="${#dates.format(transaktion.getDatum(), 'dd.MM.yyyy HH:mm')}"></label></td>
            <td><label th:text="${transaktion.getVerwendungszweck()}"></label></td>
            <td><label
                    th:text="${transaktion.getQuellkonto()}? ${transaktion.getQuellkonto().getIban()} : 'Gelöschtes Konto'"></label>
            </td>
            <td><label
                    th:text="${transaktion.getZielkonto()}? ${transaktion.getZielkonto().getIban()} : 'Gelöschtes Konto'"></label>
            </td>
            <td>
                <label class="text-danger"
                       th:if="${konten.contains(transaktion.getQuellkonto()) && !konten.contains(transaktion.getZielkonto())}" th:text="'-' +${#numbers.formatCurrency(transaktion.getBetrag())}"></label>
                <label class="text-success"
                       th:if="${!konten.contains(transaktion.getQuellkonto()) && konten.contains(transaktion.getZielkonto())}" th:text="'+' + ${#numbers.formatCurrency(transaktion.getBetrag())}"></label>
                <label class="text-warning"
                       th:if="${konten.contains(transaktion.getZielkonto()) && konten.contains(transaktion.getQuellkonto())}" th:text="${#numbers.formatCurrency(transaktion.getBetrag())}"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 class="text-danger" th:if="${transaktionen.isEmpty()}">Keine Transaktionen vorhanden.</h3>
</div>
</html>
