<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>
<div th:fragment="transaktionTable (konto, transaktionen)">
    <table th:if="${!transaktionen.isEmpty()}" class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Verwendungszweck</th>
            <th scope="col">Quell-IBAN</th>
            <th scope="col">Ziel-IBAN</th>
            <th scope="col">Betrag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaktion : ${transaktionen}">
            <td><label th:text="${#dates.format(transaktion.getDatum(), 'dd.MM.yyyy hh:mm')}"></label></td>
            <td><label th:text="${transaktion.getVerwendungszweck()}"></label></td>
            <td><label th:text="${transaktion.getQuellkonto().getIban()}"></label></td>
            <td><label th:text="${transaktion.getZielkonto().getIban()}"></label></td>
            <td th:switch="${transaktion.getQuellkonto().getIban()}">
                <label th:case="${konto.getIban()}" th:text="'-' +${#numbers.formatCurrency(transaktion.getBetrag())}" class="text-danger"></label>
                <label th:case="*" th:text="'+' + ${#numbers.formatCurrency(transaktion.getBetrag())}"  class="text-success"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 th:if="${transaktionen.isEmpty()}" class="text-danger">Keine Transaktionen vorhanden.</h3>
</div>

<div th:fragment="transaktionTableMultipleKonten (konten, transaktionen)">
    <table th:if="${!transaktionen.isEmpty()}" class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Verwendungszweck</th>
            <th scope="col">Quell-IBAN</th>
            <th scope="col">Ziel-IBAN</th>
            <th scope="col">Betrag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaktion : ${transaktionen}">
            <td><label th:text="${#dates.format(transaktion.getDatum(), 'dd.MM.yyyy hh:mm')}"></label></td>
            <td><label th:text="${transaktion.getVerwendungszweck()}"></label></td>
            <td><label th:text="${transaktion.getQuellkonto().getIban()}"></label></td>
            <td><label th:text="${transaktion.getZielkonto().getIban()}"></label></td>
            <td>
                <label th:if="${konten.contains(transaktion.getQuellkonto()) && !konten.contains(transaktion.getZielkonto())}" th:text="'-' +${#numbers.formatCurrency(transaktion.getBetrag())}" class="text-danger"></label>
                <label th:if="${!konten.contains(transaktion.getQuellkonto()) && konten.contains(transaktion.getZielkonto())}" th:text="'+' + ${#numbers.formatCurrency(transaktion.getBetrag())}"  class="text-success"></label>
                <label th:if="${konten.contains(transaktion.getZielkonto()) && konten.contains(transaktion.getQuellkonto())}" th:text="${#numbers.formatCurrency(transaktion.getBetrag())}"  class="text-warning"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 th:if="${transaktionen.isEmpty()}" class="text-danger">Keine Transaktionen vorhanden.</h3>
</div>
</html>