body {
    background-color: #f8f9fa;
    color: #212529;
}

.rounded-borders {
    border-radius: 2rem;
}

.alert-fixed {
    position:fixed;
    right: 10%;
    top: 10%;
    max-width: 40%;
    z-index:9999;
}

.trMainColor {
    color: #c20044;
}
