<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"><title>Kontoauszug</title></head>

<body>
<div th:replace="common/header :: navigation"></div>

<div class="container py-2">
    <div class="card rounded-borders">
        <div class="card-body text-center">
            <div class="row gx-5 justify-content-center align-items-center">
                <div class="col-2">
                    <label>Kontoinhaber</label>
                    <p class="mb-0" th:text="${kunde.getVorname()} + ' ' + ${kunde.getNachname()}"></p>
                </div>
                <div class="col-2">
                    <label>Datum</label>
                    <p class="mb-0" th:text="${#dates.format(datum, 'dd.MM.yyyy')}"></p>
                </div>
                <div class="col-2">
                    <label>Zeitraum</label>
                    <p class="mb-0"
                       th:text="${#dates.format(kontoauszug.getDatumVon(), 'dd.MM.yyyy')} + ' - ' + ${#dates.format(kontoauszug.getDatumBis(), 'dd.MM.yyyy')}"></p>
                </div>
                <div class="col-2">
                    <label>Kontostand Anfang</label>
                    <p class="mb-0" th:text="${#numbers.formatCurrency(kontoauszug.getKontostandAnfang())}"></p>
                </div>
                <div class="col-2">
                    <label>Kontostand Ende</label>
                    <p class="mb-0" th:text="${#numbers.formatCurrency(kontoauszug.getKontostandEnde())}"></p>
                </div>
                <div class="col-2">
                    <label>Sendungsnummer</label>
                    <p class="mb-0" th:text="${kontoauszug.getVersandId()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/kontoDetails :: kontoDetails(${kontoauszug.getKonto()})"></div>

<div class="container d-flex justify-content-center align-items-center  w-100 p-2">
    <div class="card rounded-borders w-100">
        <div class="card-body text-center">
            <h3 th:text="'Kontoumsätze vom ' + ${#dates.format(kontoauszug.getDatumVon(), 'dd.MM.yyyy')} + ' bis ' + ${#dates.format(kontoauszug.getDatumBis(), 'dd.MM.yyyy')} "></h3>
            <div th:replace="common/transaktionTable :: transaktionTable(${kontoauszug.getKonto()}, ${transaktionen})"></div>
        </div>
    </div>
</div>

</body>
</html>
