<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header" />

<body>
    <div th:replace="common/header :: navigation"/>
    <h1 class="text-center">Willkommen bei Ihrem Konto!</h1>


    <div class="container d-flex justify-content-center align-items-center  w-100 p-2" >
        <div class="card rounded-borders w-100">
            <div class="card-body text-center">
                <h3>Kontoumsätze</h3>
                <div th:replace="common/transaktionTable :: transaktionTable(${transaktionen})"> </div>
            </div>
        </div>
    </div>
</body>
</html>