<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"><title>Konto Details</title></head>

<body>
<div th:replace="common/header :: navigation"></div>

<div class="container py-2">
    <div class="card rounded-borders">
        <div class="card-body text-center">
            <div class="row gx-5 justify-content-center align-items-center">
                <div class="col-2">
                    <label>Kontonummer</label>
                    <p class="mb-0" th:text="${konto.getID()}"></p>
                </div>
                <div class="col-3">
                    <label>IBAN</label>
                    <p class="mb-0" th:text="${konto.getIban()}"></p>
                </div>
                <div class="col-2">
                    <label>Kontostand</label>
                    <p class="mb-0" th:text="${#numbers.formatCurrency(konto.getKontostand())}"></p>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col">
                            <form th:action="@{/konto/{id}/transaktion(id=${konto.getID()})}">
                                <input name="isSender" th:value="${true}" type="hidden"/>
                                <button class="btn btn-primary" type="submit">Geld senden</button>
                            </form>
                        </div>
                        <div class="col" sec:authorize="hasAuthority('FIRMENKUNDE')">
                            <form th:action="@{/konto/{id}/transaktion(id=${konto.getID()})}">
                                <input name="isSender" th:value="${false}" type="hidden"/>
                                <button class="btn btn-primary" type="submit">Geld anfordern</button>
                            </form>
                        </div>
                        <div class="col">
                            <form th:action="@{/konto/{id}/kontoauszug(id=${konto.getID()})}">
                                <button class="btn btn-secondary" type="submit">Kontoauszug erstellen</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center  w-100 p-2">
    <div class="card rounded-borders w-100">
        <div class="card-body text-center">
            <h3>Kontoumsätze</h3>
            <div th:replace="common/transaktionTable :: transaktionTable(${konto}, ${currentTransaktionen})"></div>
            <nav aria-label="Konto page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${pageNumber == 1 ? 'disabled' : ''}">
                        <a aria-label="Previous"
                           class="page-link"
                           th:href="@{/konto/{id}(id=${konto.getID()}, pageNumber=${pageNumber - 1})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${pageNumber == i ? 'active' : ''}"
                        th:each="i: ${#numbers.sequence(1, pages, 1)}">
                        <a class="page-link"
                           th:href="@{/konto/{id}/(id=${konto.getID()}, pageNumber=${i})}" th:text="${i}"
                           th:value="${i}"
                        ></a>
                    </li>
                    <li class="page-item" th:classappend="${pageNumber == pages ? 'disabled' : ''}">
                        <a aria-label="Next"
                           class="page-link"
                           th:href="@{/konto/{id}(id=${konto.getID()}, pageNumber=${pageNumber + 1})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="container d-flex justify-content-center align-items-center  w-100 p-2"
     th:title="${disableDelete}? 'Nur verfügbar, wenn der Kontostand auf 0,00 € steht.' : ''">
    <button class="btn btn-danger" data-bs-target="#deleteKontoModal"
            data-bs-toggle="modal" th:disabled="${disableDelete}" type="button">
        Konto auflösen
    </button>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="deleteKontoModalLabel" class="modal fade" id="deleteKontoModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteKontoModalLabel">Konto auflösen</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>
                    Sind Sie sicher, dass Sie dieses Konto auflösen möchten? <br>
                    Damit werden auch sämtliche Kontoauszüge gelöscht. <br>
                    Diese Aktion kann nicht rückgängig gemacht werden!
                </p>
                <img alt="Image: Delete Konto"
                     class="my-5" height="100%" src="/static/images/undraw_throw_away_re_x60k.svg" th:src="@{/images/undraw_throw_away_re_x60k.svg}"
                     width="100%"/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary float-start" data-bs-dismiss="modal" type="button">Abbrechen</button>
                <a th:href="@{/konto/{id}/delete(id=${konto.getID()})}">
                    <button class="btn btn-danger float-end" data-bs-dismiss="modal" th:disabled="${disableDelete}"
                            type="button">
                        Bestätigen
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
