<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header" />

<body>
    <div th:replace="common/header :: navigation"/>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">Please enter your username.</div>
        </div>
        <div class="mb-3">
            <label for="inputPasswort" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="inputPasswort">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>