<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"><title>Registrieren</title></head>

<body>
<div style="
    display: flex;
    flex-direction: column;
    min-height: 100vh;">
    <div th:replace="common/header :: navigation"></div>

    <section style="margin: auto">
        <div class="container d-flex justify-content-center align-items-center  w-100 p-2">
            <div class="card bg-dark text-white rounded-borders w-100">
                <div class="card-body text-center p-5">
                    <h2 class="fw-bold mb-4">Registriere dich für das TRBank Onlinebanking!</h2>
                    <form class="form-white form-outline text-white text-start" method="post" th:action="@{/register}"
                          th:object="${kunde}">
                        <div class="row mb-4">
                            <div class="form col-6">
                                <label for="inputUsername">Username</label>
                                <input class="form-control" id="inputUsername" name="username" placeholder="Username"
                                       th:field="*{username}" type="text">
                                <div class="alert alert-danger" th:errors="*{username}"
                                     th:if="${#fields.hasErrors('username')}"></div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="form col-6">
                                <label for="inputPasswort">Passwort</label>
                                <input class="form-control" id="inputPasswort" maxlength="20" minlength="6"
                                       name="password" placeholder="Passwort" th:field="*{passwort}" type="password">
                                <div class="alert alert-danger" th:errors="*{passwort}"
                                     th:if="${#fields.hasErrors('passwort')}"></div>
                            </div>
                            <div class="form col-6">
                                <label for="inputPasswortWiederholen">Passwort wiederholen</label>
                                <input class="form-control" id="inputPasswortWiederholen" maxlength="20"
                                       minlength="6" name="passwordWiederholen" placeholder="Passwort"
                                       type="password">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
                                    <div class="error" th:each="err : ${#fields.errors('global')}"
                                         th:text="${err}"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-4 align-items-center">
                            <div class="form col-4">
                                <label for="inputVorname">Vorname</label>
                                <input class="form-control" id="inputVorname" name="vorname" placeholder="Vorname"
                                       th:field="*{vorname}" type="text">
                                <div class="alert alert-danger" th:errors="*{vorname}"
                                     th:if="${#fields.hasErrors('vorname')}"></div>
                            </div>
                            <div class="form col-4">
                                <label for="inputNachname">Nachname</label>
                                <input class="form-control" id="inputNachname" name="nachname" placeholder="Nachname"
                                       th:field="*{nachname}" type="text">
                                <div class="alert alert-danger" th:errors="*{nachname}"
                                     th:if="${#fields.hasErrors('nachname')}"></div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="inputFirmenkunde">Firmenkunde</label>
                                    <input class="form-check-input" id="inputFirmenkunde" name="firmenkunde"
                                           th:field="*{firmenkunde}" type="checkbox">
                                    <div class="alert alert-danger" th:errors="*{firmenkunde}"
                                         th:if="${#fields.hasErrors('firmenkunde')}"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-4">
                            <div class="form col-5">
                                <label for="inputStadt">Stadt</label>
                                <input class="form-control" id="inputStadt" name="stadt" placeholder="Stadt"
                                       th:field="*{adresse.stadt}" type="text">
                                <div class="alert alert-danger" th:errors="*{adresse.stadt}"
                                     th:if="${#fields.hasErrors('adresse.stadt')}"></div>
                            </div>
                            <div class="form col-4">
                                <label for="inputLand">Land</label>
                                <input class="form-control" id="inputLand" name="land" placeholder="Land"
                                       th:field="*{adresse.land}" type="text">
                                <div class="alert alert-danger" th:errors="*{adresse.land}"
                                     th:if="${#fields.hasErrors('adresse.land')}"></div>
                            </div>
                            <div class="form col-3">
                                <label for="inputPlz">Postleitzahl</label>
                                <input class="form-control" id="inputPlz" name="plz" placeholder="12345"
                                       th:field="*{adresse.plz}" type="text">
                                <div class="alert alert-danger" th:errors="*{adresse.plz}"
                                     th:if="${#fields.hasErrors('adresse.plz')}"></div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="form col-6">
                                <label for="inputStrasse">Straße</label>
                                <input class="form-control" id="inputStrasse" name="strasse" placeholder="Strasse"
                                       th:field="*{adresse.strasse}" type="text">
                                <div class="alert alert-danger" th:errors="*{adresse.strasse}"
                                     th:if="${#fields.hasErrors('adresse.strasse')}"></div>
                            </div>
                            <div class="form col-6">
                                <label for="inputHausnummer">Hausnummer</label>
                                <input class="form-control" id="inputHausnummer" name="hausnummer"
                                       placeholder="Hausnummer" th:field="*{adresse.hausnummer}" type="text">
                                <div class="alert alert-danger" th:errors="*{adresse.hausnummer}"
                                     th:if="${#fields.hasErrors('adresse.hausnummer')}"></div>
                            </div>
                        </div>

                        <div class="container text-center mb-4">
                            <button class="btn btn-outline-light" type="submit">Registrieren</button>
                        </div>
                        <p class="mb-0 text-center">Du bist bereits Kunde? <a class="text-center text-white-50 fw-bold"
                                                                              href="/login">Melde
                            dich an!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
