<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header" />

<body>
    <div th:replace="common/header :: navigation"/>
    <h1>Willkommen bei den Transaktionen!</h1>
    <h3 th:text="${konto.getIban()}"></h3>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">TransaktionsID</th>
            <th scope="col">Quell-IBAN</th>
            <th scope="col">Ziel-IBAN</th>
            <th scope="col">Betrag</th>
            <th scope="col">Datum</th>
            <th scope="col">Verwendungszweck</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaktion : ${transaktionen}">
            <th scope="row"><label th:text="${transaktion.getTransaktionId}"></label></th>
            <td><label th:text="${transaktion.getQuellkonto().getIban()}"></label></td>
            <td><label th:text="${transaktion.getZielkonto().getIban()}"></label></td>
            <td><label th:text="${transaktion.getBetrag()}"></label></td>
            <td><label th:text="${transaktion.getDatum()}"></label></td>
            <td><label th:text="${transaktion.getVerwendungszweck()}"></label></td>
        </tr>
        </tbody>
    </table>
</body>
</html>