<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"><title>Transaktion tätigen</title></head>

<body>
<div th:replace="common/header :: navigation"></div>

<div th:replace="common/kontoDetails :: kontoDetails(${konto})"></div>

<div class="container d-flex justify-content-center align-items-center w-100 p-2" >
    <div class="card rounded-borders w-50">
        <div class="card-body">
            <h3 th:value="${isSender} ? 'Geld senden' : 'Geld anfordern'" class="text-center">Geld senden</h3>

            <p class="text-center">Sobald Sie die Zahlung bestätigen, wird diese sofort durchgeführt.</p>
            <form th:action="@{/konto/{id}/transaktion(id=${konto.getID()}, isSender=${isSender})}" th:object="${transaktionDTO}" method="post" class="form-white form-outline text-dark">
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Empfänger IBAN</label>
                    </div>
                    <div class="col-9">
                        <input type="text" th:field="*{zielIban}" name="ibanTo" class="form-control"  maxlength="22" minlength="22"  th:readonly="${!isSender}"
                               th:value="${isSender} ? '' : ${konto.getIban()}" placeholder="DE12345678901234567890" id="inputIbanTo">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('zielIban')}" th:errors="*{zielIban}"></div>
                    </div>
                </div>
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Betrag in €</label>
                    </div>
                    <div class="col-9">
                        <input type="number" th:field="*{betrag}" name="betrag" class="form-control" id="inputBetrag" step="0.01" min="0.01">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('betrag')}" th:errors="*{betrag}"></div>
                    </div>
                </div>
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Sender IBAN</label>
                    </div>
                    <div class="col-9">
                        <input type="text" th:field="*{quellIban}" name="ibanFrom" maxlength="22" minlength="22" class="form-control" th:readonly="${isSender}"
                               th:value="${isSender} ? ${konto.getIban()} : ''" id="inputIbanFrom">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('quellIban')}" th:errors="*{quellIban}"></div>
                    </div>
                </div>
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Verwendungszweck</label>
                    </div>
                    <div class="col-9">
                        <textarea th:field="*{verwendungszweck}" class="form-control" id="verwendungszweckTextarea" name="verwendungszweck" rows="3"></textarea>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('verwendungszweck')}" th:errors="*{verwendungszweck}"></div>
                    </div>
                </div>
                <a class="btn btn-danger float-start" role="button" th:href="@{/konto/{id}(id=${konto.getID()})}">Abbrechen</a>
                <button type="submit" name="submit" value="Submit" class="btn btn-success float-end">Zahlung Bestätigen</button>
            </form>
        </div>
    </div>
    <img src="../static/image/undraw_transfer_money_rywa.svg" th:src="@{image/undraw_transfer_money_rywa.svg}" class="my-5" height="50%" width="50%" alt="Image: Transfer Money"/>
</div>
</body>
</html>
