<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"><title>Transaktion tätigen</title></head>

<body>
<div th:replace="common/header :: navigation"></div>

<div th:replace="common/kontoDetails :: kontoDetails(${konto})"></div>

<div class="container d-flex justify-content-center align-items-center w-100 p-2">
    <div class="card rounded-borders w-50">
        <div class="card-body">
            <h3 class="text-center" th:value="${isSender} ? 'Geld senden' : 'Geld anfordern'">Geld senden</h3>

            <p class="text-center">Sobald Sie die Zahlung bestätigen, wird diese sofort durchgeführt.</p>
            <form class="form-white form-outline text-dark"
                  method="post" th:action="@{/konto/{id}/transaktion(id=${konto.getID()}, isSender=${isSender})}" th:object="${transaktionDTO}">
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Empfänger IBAN</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" id="inputIbanTo" maxlength="22" minlength="22" name="ibanTo"
                               placeholder="DE12345678901234567890" th:field="*{zielIban}"
                               th:readonly="${!isSender}" th:value="${isSender} ? '' : ${konto.getIban()}"
                               type="text">
                        <div class="alert alert-danger" th:errors="*{zielIban}"
                             th:if="${#fields.hasErrors('zielIban')}"></div>
                    </div>
                </div>
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Betrag in €</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" id="inputBetrag" min="0.01" name="betrag" step="0.01"
                               th:field="*{betrag}" type="number">
                        <div class="alert alert-danger" th:errors="*{betrag}"
                             th:if="${#fields.hasErrors('betrag')}"></div>
                    </div>
                </div>
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Sender IBAN</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" id="inputIbanFrom" maxlength="22" minlength="22" name="ibanFrom"
                               th:field="*{quellIban}" th:readonly="${isSender}"
                               th:value="${isSender} ? ${konto.getIban()} : ''" type="text">
                        <div class="alert alert-danger" th:errors="*{quellIban}"
                             th:if="${#fields.hasErrors('quellIban')}"></div>
                    </div>
                </div>
                <div class="row gx-5 mb-2 align-items-center">
                    <div class="col-3">
                        <label>Verwendungszweck</label>
                    </div>
                    <div class="col-9">
                        <textarea class="form-control" id="verwendungszweckTextarea" name="verwendungszweck"
                                  rows="3" th:field="*{verwendungszweck}"></textarea>
                        <div class="alert alert-danger" th:errors="*{verwendungszweck}"
                             th:if="${#fields.hasErrors('verwendungszweck')}"></div>
                    </div>
                </div>
                <a class="btn btn-danger float-start" role="button" th:href="@{/konto/{id}(id=${konto.getID()})}">Abbrechen</a>
                <button class="btn btn-success float-end" name="submit" type="submit" value="Submit">Zahlung
                    Bestätigen
                </button>
            </form>
        </div>
    </div>
    <img alt="Image: Transfer Money" class="my-5"
         height="50%" src="/static/images/undraw_transfer_money_rywa.svg" th:src="@{/images/undraw_transfer_money_rywa.svg}" width="50%"/>
</div>
</body>
</html>
